/* Colors */
$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);

/* Layout */
$Mobile: 375px;
$Desktop: 1440px;

/* Typography */
$BodySize : 15px;
$Weight4 : 400;
$Weight7: 700;
/*
### Font
- Family: [Overpass](https://fonts.google.com/specimen/Overpass)

*/



